html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font: 1.6rem Helvetica;
    margin: 0;
    height: 100vh;
}
.content-navbar{
    background-color: #203040;
 }
 .navbar-header a{
     color: #ffffff;
     text-decoration: none;
 }