html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font: 1.6rem Helvetica;
    margin: 0;
    height: 100vh;
}
.meet{
    text-align: center;
    font-size: 16px;
}
.meet h1{
    font-size: 30px Helvetica;
    color: #203040;
}
.meet p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}